

body{
	background-color:#FFFFFF;
	front-family: Arial;
}
#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: green ;
	text-align: left;
	width: 100%
}

body {
	background-image: url(imagenn.png);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
	font-family: monospace;
}

form{
	width: 450px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px; 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;
}
h2{
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
}
input, textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
}
#boton{
	background: #31384A;
	color: #FFFFFF;
	padding: 20px;
}
#boton:hover{
	cursor:pointer;
}

